@model Exercises.Models.Data.Course

@{
    ViewBag.Title = "EditCourse";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Edit Course</h3>
            @Html.ActionLink("Return to List", "Courses", "Admin")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm())
            {
            <div class="form-group">
                @Html.HiddenFor(m => m.CourseId)
                <Lable>Course Name</Lable>
                @Html.TextBoxFor(m => m.CourseName, new { @class = "form-group", placeholder = "Course Name" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.CourseName)</span>

            </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>
